.app{width: 90%; margin: 0px auto;}
.osz{border: 1px solid gray; height: 340px; overflow-x: scroll; overflow-y: hidden; scrollbar-color: orange; } 
.oszb{border: 1px solid gray; height: 280px; overflow-x: scroll; overflow-y: hidden; scrollbar-color: orange; } 
.osza{padding: 10px; border: 1px solid gray; } 
.fel{background-color: rgb(255, 255, 194); padding: 6px; height: 20px; margin-bottom: 10px; border-bottom: 1px solid gray;}
.fel .p{font-size: 18px; font-weight: bold; margin-top: 10px; text-align: center; align-items: center; align-content: center;}
.als{display: flex; padding: 10px; }
.nev{padding: 10px;}
.als img{width: 150px; height: 150px; border: 1px solid black;  border-bottom-left-radius: 5px; border-top-right-radius: 5px;}
.belso{margin: 5px; text-align: center; align-items: center; align-content: center; border: 1px solid gray; border-bottom-left-radius: 5px; border-top-right-radius: 5px; }
.belsoa{margin: 5px; text-align: center; align-items: center; align-content: center;  }
.belsoa .gomb{padding: 10px; margin-top: 10px; border: 1px solid black; border-radius: 10px; width: 150px; display: block; height: 20px; background-color: rgb(255, 255, 201); }
.belsoa .gomb:hover{background-color: greenyellow;}